

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  background-color: #5d5353 !important;
} */
.container {
  width: 90%;
  margin: 0 auto;
}
.content {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.mac {
  width: 45%;
}
.carousel-inner {
  width: 60% !important; 
  display: flex;
  margin-left: 120px;
  /* justify-content: center; */
  /* align-items: center; */
}
.mac__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.mac__item {
  padding: 7px;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
}
.mac__item:hover {
  border: 2px solid #000;
}
.navimg {
  width: 80px;
}
.activdarc{
  border: 2px solid #000;
}



/* START INFO PART */
.content__info {
  width: 50%;
  height: 660px;
  overflow-y: scroll ;
}
.content__info::-webkit-scrollbar{
  width: 0; 
}
.btnsumgroup {
  display: flex;
  flex-direction: column;
}

.cinfo__title {
  width: 70%;
}
.mb {
  margin-bottom: 20px;
}
.cinfo__ramname {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.infotitle {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.cinfo__ramgb {
  display: flex;
}
.btns {
  width: 150px;
  padding: 12px 0;
  font-size: 18px;
  border: 2px solid #88888888;
  border-radius: 10px;
  background-color: #fff;
  font-weight: 600;
}
.colors-group {
  display: flex;
  flex-wrap: wrap;
}
.colors-btn {
  width: 45%;
  padding: 12px 0;
  margin-bottom: 18px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #88888888;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px !important;
}
.sum {
  display: flex;
  margin-bottom: 18px;
}
.sum__btn {
  padding: 0px 22px;
  border: 1px solid #888888;
  background-color: #fff;
  font-size: 30px;
}
.sum__btnnum {
  padding: 7px 28px;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  background-color: #fff;
}
.summa {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 10px;
  display: inline-block;
}
.btncorzinka {
  width: 100%;
  padding: 10px 0;
  border-radius: 8px;
  color: #fff;
  background-color: #0066CC;
  border: none;
  margin-bottom: 18px;
}
.btntaqqoslash {
  width: 100%;
  padding: 10px 0;
  border-radius: 8px;
  color: #0066CC;
  background-color: #F5F5F7;
  border: none;
  margin-bottom: 18px;
}
.color-span {
  display: inline-block;
  width: 20px;
  height: 20px;
  /* background-color: #0066CC; */
  border-radius: 50%;
  margin-bottom: 4px;
}
.gold {
  background-color: #D29D00;
}
.kumush {
  background-color: #C0C0C0;
}
.kulrang {
  background-color:#808080 ;
}
.mr {
  margin-right: 10px;
}
/* .btns:focus {
  border: 1px solid blue;
} */
.activ {
  border: 2px solid #0047e1;
}
.titletb {
  display: none;
}
#gb1 {
  display: none;
}
.dn{
  display: none;
}
.displayb{
  display: inline-block !important;
}
/* .titlefontsize{
  font-size: 30px;
} */


@media screen and (max-width: 600px) {
  .content {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .mac {
    width: 100%;
  }
  .content__info {
    width: 100%;
    height: auto;
    overflow-y: hidden ;
    display: flex;
    flex-direction: column;
  }
  .navimg {
    width: 60px;
  }
  .cinfo__ramgb {
    display: flex;
    justify-content: space-between;
  }
  .btns  {
    width: 48%;
  }
  .colors-group {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
  }
  .colors-btn {
    width: 48%;
  }
  .memory {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .mr {
    margin-right: 0;
  }
  
}



















