

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  background-color: #5d5353 !important;
} */
.container {
  width: 90%;
  margin: 0 auto;
}
.content {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.mac {
  width: 45%;
  position: relative;
}
.carousel-inner {
  width: 60% !important; 
  display: flex;
  margin-left: 120px;
  /* justify-content: center; */
  /* align-items: center; */
}
.mac__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.mac__item {
  padding: 7px;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.4s ease;
}
.mac__item:hover {
  border: 2px solid #000;
}
.navimg {
  width: 80px;
}
.activdarc{
  border: 2px solid #000;
}



/* START INFO PART */
.content__info {
  width: 50%;
  height: 700px;
  overflow-y: scroll ;
}
.content__info::-webkit-scrollbar{
  width: 0; 
}
.btnsumgroup {
  display: flex;
  flex-direction: column;
}

.cinfo__title {
  width: 70%;
}
.mb {
  margin-bottom: 20px;
}
.cinfo__ramname {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.infotitle {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.cinfo__ramgb {
  display: flex;
}
.btns {
  width: 150px;
  padding: 12px 0;
  font-size: 18px;
  border: 2px solid #88888888;
  border-radius: 10px;
  background-color: #fff;
  font-weight: 600;
}
.colors-group {
  display: flex;
  flex-wrap: wrap;
}
.colors-btn {
  width: 45%;
  padding: 12px 0;
  margin-bottom: 18px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #88888888;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px !important;
}
.sum {
  display: flex;
  margin-bottom: 18px;
}
.sum__btn {
  padding: 0px 22px;
  border: 1px solid #888888;
  background-color: #fff;
  font-size: 30px;
}
.sum__btnnum {
  padding: 7px 28px;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  background-color: #fff;
}
.summa {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 0;
  display: inline-block;
}
.subsumma {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 10px;
  display: inline-block;
}
.btncorzinka {
  width: 100%;
  padding: 10px 0;
  border-radius: 8px;
  color: #fff;
  background-color: #0066CC;
  border: none;
  margin-bottom: 18px;
}
.btntaqqoslash {
  width: 100%;
  padding: 10px 0;
  border-radius: 8px;
  color: #0066CC;
  background-color: #F5F5F7;
  border: none;
  margin-bottom: 18px;
}
.color-span {
  display: inline-block;
  width: 20px;
  height: 20px;
  /* background-color: #0066CC; */
  border-radius: 50%;
  margin-bottom: 4px;
}
.gold {
  background-color: #D29D00;
}
.kumush {
  background-color: #C0C0C0;
}
.kulrang {
  background-color:#808080 ;
}
.mr {
  margin-right: 10px;
}
.activ {
  border: 2px solid #0047e1;
}
.titletb {
  display: none;
}
#gb1 {
  display: none;
}
.dn{
  display: none;
}
.displayb{
  display: inline-block !important;
}
.db{
  display: block !important;
}

.slider-content{
  width: 100%;
  overflow-x: hidden;
}
.slider-inner {
  display: flex;
  align-items: center;
  height: 450px;
  transition: all 0.5s ease;
}
.slider-picture {
  width: 450px;
  height: 450px;
  /* border: 2px solid red; */
  margin-left: 90px;
}
#modalbtn {
  position: absolute;
  right: 0;
  bottom: 220px;
  border: none;
  background-color: transparent;
  font-size: 32px;
  color: #a3a3a3;
  box-shadow: 4px 4px 50px -10px rgba(34, 60, 80, 0.2);
  transition: all 0.2s ease;
}
#modalbtn2 {
  position: absolute;
  right: 40px;
  bottom: 200px;
  border: none;
  background-color: transparent;
  font-size: 32px;
  color: #a3a3a3;
  box-shadow: 4px 4px 50px -10px rgba(34, 60, 80, 0.2);
  transition: all 0.2s ease;
}
#modalbtn:hover{
  color: #02376c;
}
#modalbtn2:hover{
  color: #02376c;
}


/* START BIG MODAL PART */
.modalinner {
  width: 100%;
  margin-bottom: 20px;
  /* border: 2px solid blue; */
}
.carusel-mcontent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 2px solid red; */
  overflow: hidden;
  margin: 0 auto;
}
.caruselmodal {
  display: flex;
  align-items: center;
  width:550px;
  /* border: 10px solid green; */
  margin: 50px 0px 20px 0px;
  transition: all 0.4s ease;
}
.caruselmodalbox {
  margin-right: 600px;
}
.modallist {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
}
.modalbigcarusel {
  width: 550px;
  height: 500px;
}
.modalinnercarusel {
  width: 100px;
  height: 100px;
}
.modalmac-item{
  padding: 5px;
  border: 2px solid transparent;
  margin-right: 5px;
}
.modalmac-item:hover {
  border: 2px solid #000;
  border-radius: 10px;
}
.activmodaldarc {
  border: 2px solid #000;
  border-radius: 10px;
}


@media screen and (max-width: 600px) {
  .content {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .mac {
    width: 100%;
  }
  .content__info {
    width: 100%;
    height: auto;
    overflow-y: hidden ;
    display: flex;
    flex-direction: column;
  }
  .navimg {
    width: 60px;
  }
  .cinfo__ramgb {
    display: flex;
    justify-content: space-between;
  }
  .btns  {
    width: 48%;
  }
  .colors-group {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
  }
  .colors-btn {
    width: 48%;
  }
  .memory {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .mr {
    margin-right: 0;
  }
  
}



















